.hero-section {
  width: 100%;
  height: 50rem;
  background-image: url("../Images//Home/hero\ Background.svg");
  margin-top: -7rem;
  padding-top: 7rem;
}

.hero-section-flex {
  flex-direction: column;
  margin-top: 7.75rem;
}

.hero-section-my-name {
  border-radius: 1.6875rem;
  background: linear-gradient(271deg, #ad00ff 0.52%, #30f 99.55%);
  padding: 0.25rem 1rem;
  width: fit-content;
}

.hero-section-my-name p {
  font-weight: 600;
}

.hero-section-heading {
  margin: 2rem 0;
}

.hero-section-heading h1 {
  color: #fff;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
}

.hero-section-description p {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

.hero-section-social-link {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.hero-section-social-link-linkedin {
  padding: 0.8rem;
  border: 2px solid #fff;
  border-radius: 50rem;
  transition: all 0.5s;
  filter: drop-shadow(0px 4px 5px #031cff) drop-shadow(0px -4px 5px #ff008a);
}

.hero-section-social-link-linkedin:hover {
  filter: drop-shadow(0px 4px 5px #ff008a) drop-shadow(0px -4px 5px #031cff);
}

.hero-section-text-scroll {
  display: flex;
  position: relative;
  margin-top: 2rem;
}

.hero-section-text-scroll-2 {
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
}

@media (max-width: 768px) {
  .hero-section-heading h1 {
    font-size: 3rem;
  }
}

/* TECH STACK  */

.tach-stack {
  padding: 8rem 0;
  margin-top: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../Images//Home/TechSt/Background.png");
  background-position: center;
  background-repeat: no-repeat;
}

.tech-stack-heading {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  justify-content: center;
  align-items: center;
}

.tech-stack-heading p {
  color: #fff;
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
  max-width: 45rem;
}

.tach-stack-main-software {
  max-width: 65.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 5rem;
}

.tech-stack-main-software-same {
  padding: 0.62rem 1.9rem;
  border-radius: 2.375rem;
  border: 1px solid #fff;
  background: #0d0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.tech-stack-main-software-same p {
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}

@media (max-width: 768px) {
  .tach-stack {
    margin-top: 6rem;
  }
}

/* GENIUS IDEAS  */
.genius-ideas {
  margin-top: 8rem;
  overflow: hidden;
}

.genius-ideas-grid {
  display: grid;
  grid-template-columns: 33rem 19.8rem 19.8rem;
  grid-template-rows: repeat(1, 23.3125rem);
  justify-items: center;
  gap: 1.2rem;
  margin-top: 1.4rem;
  justify-content: center;
  margin-top: 5rem;
}

/* grid 1  */

.genius-ideas-grid-sub-same {
  position: relative;
  width: 100%;
  height: 100%;
  flex-grow: 3;
  border-radius: 1.5625rem;
  background: #111;
  box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.genius-ideas-grid-2-heading {
  padding: 0.3rem 1rem;
  border-radius: 0.8125rem;
  background: #353535;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.genius-ideas-grid-sub-3 {
  position: relative;
  padding: 1rem;
}

.genius-ideas-grid-sub-3 h2 {
  margin: 0.5rem 0 1rem 0;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: capitalize;
}

.genius-ideas-grid-sub-3-image-1 {
  position: absolute;
  top: 100px;
  right: 269px;
  transition: all 0.5s;
  border-radius: 20px;
}

.genius-ideas-grid-sub-3-image-2 {
  position: absolute;
  top: 73px;
  right: 11px;
  transition: all 0.5s;
  border-radius: 20px;
}

.genius-ideas-grid-sub-3:hover .genius-ideas-grid-sub-3-image-1 {
  transform: scale(1.02);
}

.genius-ideas-grid-sub-3:hover .genius-ideas-grid-sub-3-image-2 {
  transform: scale(1.02);
}

/* grid 3  */
.genius-ideas-grid-sub-same {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1.5625rem;
  background: #1d1d1d;
  box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.genius-ideas-grid-sub-1 {
  padding: 1rem 0 0 2rem;
}

.genius-ideas-grid-sub-1 h3 {
  font-family: "Ebrima";
  font-size: 1.25rem;
  font-weight: 700;
}

.genius-ideas-grid-sub-1 h3 span {
  background: linear-gradient(91deg, #ff4c00 1.81%, #f9a31a 24.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.genius-ideas-grid-sub-1 img {
  position: absolute;
  width: 23rem;
  top: 85px;
  left: 50px;
  border-radius: 10px;
  transition: all 0.5s;
}

.genius-ideas-grid-sub-1:hover img {
  border: 2px solid rgb(89, 89, 89);
  top: 80px;
  left: 45px;
}

.genius-ideas-grid-sub-2 {
  padding: 1rem 0 0 2rem;
}

.genius-ideas-grid-sub-2 h3 {
  font-family: "Ebrima";
  font-size: 1.25rem;
  font-weight: 700;
}

.genius-ideas-grid-sub-2 p {
  font-size: 0.8125rem;
  padding: 0.5rem 0;
}

.genius-ideas-grid-sub-2-image {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.genius-ideas-grid-sub-2-image-1 {
  box-shadow: 0px 0px 30px 0px rgba(26, 26, 26, 0.5),
    0px 0px 20px 9px rgba(18, 18, 18, 0.48);
  border-radius: 20px;
  margin-right: 3rem;
  transform: rotate(-10.794deg);
  transition: all 5s ease-in-out;
}

.genius-ideas-grid-sub-2-image-icon {
  position: absolute;
  top: 139px;
  right: 195px;
  width: 3.78588rem;
  height: 3.78588rem;
  transform: rotate(-10.794deg);
  border-radius: 1rem;
  background: #242424;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.genius-ideas-grid-sub-2-image-icon-img {
  background: transparent !important;
  box-shadow: none !important;
  margin-right: 0rem !important;
}

.genius-ideas-grid-sub-2:hover .genius-ideas-grid-sub-2-image-1 {
  transform: rotate(-360deg);
}

@media (max-width: 1200px) {
  .genius-ideas-grid {
    display: grid;
    grid-template-columns: 33rem 19.8rem;
  }

  .genius-ideas-grid-sub-2 {
    display: none;
    justify-self: center;
    width: 19.8rem;
    height: 23.3125rem;
  }
}

@media (max-width: 850px) {
  .genius-ideas-grid {
    display: grid;
    grid-template-columns: 33rem;
  }

  .genius-ideas-grid-sub-1 {
    justify-self: center;
    width: 19.8rem;
    height: 23.3125rem;
  }

  .genius-ideas-grid-sub-2 {
    display: inline-block;
    justify-self: center;
    width: 19.8rem;
    height: 23.3125rem;
  }
}

@media (max-width: 550px) {
  .genius-ideas-grid {
    display: grid;
    grid-template-columns: 20rem;
  }

  .genius-ideas-grid-sub-3-image-2 {
    position: absolute;
    top: 131px;
  }
}

@media (max-width: 350px) {
  .genius-ideas {
    display: none;
  }
}

/* PROJECTS  */

.project {
  width: 100%;
  margin: 8rem 0;
}

.projects-grids {
  display: grid;
  /* flex-wrap: wrap; */
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  row-gap: 5rem;
  margin-top: 8rem;
}

.projects-grid-1 {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  padding: 1.5rem;
  border: 1px solid #0034fe;
  border-radius: 10px;
  color: white;
}

.project-data-img {
  margin-bottom: 2.3rem;
}

.project-data-img img {
  width: 100%;
  transition: all 0.3s;
}

.project-data-tittle h4 {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.project-data-tittle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-data-tool {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.9rem;
}

.project-data-tool h4 {
  font-size: 1rem;
  font-weight: 300;
}

.projects-grid-1:hover .project-data-img img {
  transform: scale(1.05);
}

.project-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.project-button a button {
  all: unset;
  padding: 1rem 2.5rem;
  border: 1px solid white;
  border-radius: 20rem;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.5s;
}

.project-button a button:hover {
  animation: animation 3s linear infinite;
}

@media (max-width: 768px) {
  .projects-grids {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}

/* ABOUT ME  */
.home-about-us {
  background: #0e0e0e;
  padding: 6rem 0;
  margin: 5rem 0;
}

.home-about-me {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  justify-content: center;
  align-items: center;
}

.home-about-me p {
  max-width: 56rem;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

/* CONTACT US  */
.contact-me {
  margin: 5rem 0;
}

.contact-heading {
  margin: 8rem 0 3.5rem;
}

.contact-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.contact-same-lank {
  padding: 0.62rem 1.9rem;
  border-radius: 2.375rem;
  border: 1px solid #fff;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  transition: all 0.5s;
}

.contact-flex a {
  color: white;
}

.contact-same-lank:hover {
  animation: animation 100s linear infinite;
}

@keyframes animation {
  0% {
    filter: drop-shadow(0px 4px 5px #ff008a) drop-shadow(0px -4px 5px #031cff);
    border-color: #0034fe;
  }

  100% {
    filter: drop-shadow(0px -4px 5px #031cff) drop-shadow(0px 4px 5px #ff008a);
    border-color: #ff008a;
  }
}

/* FOOTER  */
.footer {
  width: 100%;
  padding: 1.75rem 0;
  background: #111;
}

.footer-copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright h4 {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 700;
}

.footer-copyright a {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 700;
}
